@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    z-index: 5;
    padding: 1rem;
    cursor: pointer;
}

.logos {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logos>img {
    max-width: 12rem;
}

body {
    /* background-color: black; */
    font-family: 'Cinzel', serif;
    margin: 0;
}

.loading {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #333;
    width: 100vw;
    z-index: 2;
    text-align: center;
    padding: 1rem;
}

.hidden {
    display: none;
}

.intro>p {
    font-family: 'Montserrat', sans-serif;
}

.main-view {
    position: absolute;
    top: 0;
    display: block;
}

.interstitial, .landing {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
}

.iframe-hall {
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    border: 0;
}

.interstitial {
    background-color: black;
    color: white;
}

.landing {
    background-color: white;
    color: black;
}

.intro {
    padding: 0 1rem;
    margin-top: 5rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    text-justify: newspaper;
}

h2, .entering, .credits, .credits>.name {
    text-align: center;
}

.credits, .entering {
    text-transform: uppercase;
}

h3 {
    margin: 0.5rem 0 0 0;
    color: #777;
}

.entering {
    color: #777;
    margin: 0.5rem;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

.name {
    margin: 0;
}