@import "../node_modules/normalize.css/normalize.css";
@import "interstitial.css";
@import "zindex.css";
/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Raleway&display=swap" rel="stylesheet"); */

body {
    margin: 0;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    padding: 1rem;
    cursor: pointer;
    background-color: white;
}

.logos {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logos>img {
    max-width: 12rem;
}

.hidden {
    display: none;
}

.main-view {
    position: absolute;
    top: 0;
    display: block;
}

.iframe-hall {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    border: 0;
}

.copyrigh {
    padding: 0 1rem;
    margin-top: 5rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'Lato', sans-serif; */
    /* font-size: 1; */
}